In [ ]:
import pymysql

In [ ]:
setup_table = pymysql.connect(
    user='root', 
    passwd='mireu041214', 
    host='192.168.0.2',
    port=3305,
    db='hepatica', 
    charset='utf8'
)

In [ ]:
cursor = setup_table.cursor(pymysql.cursors.DictCursor)

In [ ]:
sql1 = """
create table staff_account_DB (
  id int unsigned not null auto_increment primary key,
  staff_name text not null,
  phone text not null,
  email text not null,
  work_times_start int null,
  work_times_end int null,
  password varchar(255) null
);
"""
sql2 = """
create table staff_work_status_DB (
  id int unsigned not null auto_increment primary key,
  staff_name text not null,
  work_result BOOLEAN null,
  attendance_status text null
);
"""
sql3 = """
create table product_info_DB (
  id int unsigned not null auto_increment primary key,
  product_name text null,
  info_url text null
);
"""
sql4 = """
create table account_book_DB (
  id int unsigned not null auto_increment primary key,
  product text null,
  staff text null,
  payment BOOLEAN null
);
"""

In [ ]:
sql_line = [sql1, sql2, sql3, sql4]

for i in sql_line:
    try:
        cursor.execute(i)
        setup_table.commit()
    except:
        pass

cursor.close()